#container_1 {
    height: 90vh;
    width: 55%;   
    float: left; 
    display: flex;
    justify-content: flex-start;  /* left align */
    align-items: center;
    /* background-color: lightgray;  */
}

@keyframes slideIn {
    from {
        right: -300px; /* 从右侧开始滑动 */
        opacity: 0;
    }
    to {
        right: 80px;
        opacity: 1;
    }
}

.info-card {
    animation: slideIn 0.5s ease-out forwards;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    display: none;
}

.info-card.hidden {
    display: none;
}

.card-header {
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.card-header h2 {
    margin: 0;
    font-size: 18px;
}

.game-image {
    width: 100%;
    height: auto;
    display: block;
}

.card-body {
    padding: 15px;
}

.game-details span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}
