body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f8f8; /* Light background color */
}

#container_3 {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infoSection {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card, .default-info {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; /* White background for cards */
}

.info-card.hidden {
    display: none;
}

.card-header {
    background-color: #d3a625; /* Color similar to the example */
    border-radius: 8px 8px 0 0;
    padding: 10px;
    text-align: center;
}

.card-header h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px; /* Smaller font size */
    margin: 0;
    color: #fff; /* White text color */
}

.game-image {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0; /* Margin around the image */
}

.game-details span {
    display: block;
    margin-top: 10px;
    font-size: 14px; /* Smaller font size */
    color: #333; /* Dark text color */
}
